__pycache__/
.idea/
venv/
disabled_cogs/
passwords_and_keys/
goonbase.db
modules/discord_bot_token.py
cogs/birthdays.py
cogs/art.py
modules/mongo_creds.py
run.bat
helpers/countdown_dates/major_events.py
helpers/dev_feedback/todo.txt
helpers/dev_feedback/suggestions.txt
helpers/goonbots_brain/bot_game_list.txt
helpers/goonbots_brain/time_keeper.txt
helpers/hobo_usernames/hobo_usernames.txt
helpers/hobo_usernames/hobo_halloween_usernames.txt
helpers/hobo_usernames/how_to_add_names.txt