# This template is identical to the keys.py file the bot actually uses
# Each of these are required to run the bot.

class Keys:
    PROD_DISCORD_API_TOKEN = ""
    DEV_DISCORD_API_TOKEN = ""

    TWITCH_CLIENT_ID = ""
    TWITCH_CLIENT_SECRET = ""

    GOOGLE_API = ""

    RIOT_API = ""
